@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Nunito;
        src: url('/asset/fonts/nunito/extrabold.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: Chunky;
        src: url('/asset/fonts/chunky/reguler.otf');
        font-display: swap;
    }
}

                                                    /* 1. Navbar Link */
.link {
   @apply hover:opacity-20 duration-300;
}

.link-active {
    @apply hover:bg-gray-200 hover:text-slate-800 py-4 px-6 w-full cursor-pointer;
}

/* hamburger */
.hamburger-line {
    @apply w-8 h-1 bg-white rounded-md;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45 transition;
}
                                                      /* End Navbar Link*/

                                                        /* 2. Home Page */
    .home-container {
        @apply 
        h-[3600px] md:h-[1800px] container text-center self-end md:my-20
    }

    .heading-container {
        @apply 
        container mx-[10px] lg:mx-[130px] xl:mx-[350px] text-center relative font-chunky flex justify-center items-center
    }
    .text-heading {
        @apply 
        relative px-10 pb-10 text-5xl md:text-7xl z-10 flex flex-col
    }

        /* Left Content */
        .left-right-content {
            @apply 
            justify-between grid grid-cols-1 mx-[10px] my-20 items-center sm:mx-[10px] lg:mx-[400px] sm:grid-cols-1 lg:grid-cols-2
        }
        .span-content-left {
            @apply 
            absolute right-32 bottom-0 sm:left-0 opacity-50
        }
        /* End Left Content */

        /* Right Content */

        .title-promotion {
            @apply 
            font-chunky 
            mt-10 
            text-right md:text-left
        }

        .subtitle-promotion {
            @apply 
            font-chunky 
            mt-5 
            text-4xl 
            text-right md:text-left
        }

        /* Kumpulan Box */
        .collect-box {
            @apply 
            mt-10 
            items-center text-center
            grid-cols-1 md:grid-cols-1 lg:grid-cols-3 md:flex
            space-y-10 md:space-x-10
        }

        .box {
            @apply 
            w-auto h-[250px]
            px-5 py-10 md:px-6 md:py-10 
            rounded-xl 
            duration-300
            shadow-red-50 hover:shadow-[0_15px_45px]
            hover:scale-105
            text-center items-center
            bg-slate-700
        }

        .box-title {
            @apply 
            mb-5 w-40
            font-nunito
            text-xl 
            font-bold
        }

        .box-content {
            @apply
            text-xl 
            font-thin

        }

        .instagram-button {
            @apply 
            w-1/2 lg:w-1/5
            p-5 
            text-white font-bold 
            duration-200
            hover:scale-125
            rounded-xl
            bg-pink-500 hover:bg-pink-700 
            right-24 md:right-[300px]
            absolute
        }
        /* End Kumpulan Box */


        /* End Right Content */



    /* Home Product */
    .heading {
        @apply
        pt-32 ml-0 sm:ml-40 lg:ml-96
    }
    .home-product {
        @apply 
        mx-[50px] sm:mx-[150px] lg:mx-[100px] justify-center grid grid-cols-1 gap-20 md:grid-cols-1 lg:grid-cols-3
    }
    .image-product {
        @apply 
        hover:scale-105 duration-300 xl:mr-5 w-[300px] h-[300px] md:w-[300px] md:h-[300px]
    }

    .button-product {
        @apply 
        font-nunito font-bold py-3 px-5 bg-emerald-500 duration-300 active:scale-105 hover:scale-105 hover:bg-emerald-700
    }
    /* End Home Product */



                                                        /* End Home Page */


                                                            /* 3. Hero */
.content-hero {
    @apply 
    px-10 text-center
    md:text-left md:px-40 
    pt-[30px] md:pt-[350px] 
    font-nunito capitalize  
    w-[100%] md:w-[70%]
}

                                                            /* End Hero*/





/*                                          ROADMAP         */
.group-date {
    @apply 
    mb-14
    text-4xl md:text-7xl text-gray-200
    font-chunky
    px-3 py-4 
    font-bold tracking-widest
}

.timeline {
    @apply 
    border-l-4 border-gray-200
    font-nunito 
    text-xl
    ml-3 py-16 pl-16
    space-y-14
}

.dot {
    @apply 
    absolute -top-5 -left-[80px]
    bg-blue-400
    h-6 w-6 
    rounded-full
    border-4 border-main
}

.timeline-title {
    @apply 
    text-2xl font-bold opacity-40
}